# Database Configuration
POSTGRES_USER=seuusuario
POSTGRES_PASSWORD=your_secure_password_here
POSTGRES_DB=seu_banco_de_dados
POSTGRES_PORT=5432

# API Configuration
API_PORT=8080

ALLOWED_ORIGINS=https://seusite.com

ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=seu_banco_de_dados;Username=seuusuario;Password=your_secure_password_here